form {
  margin-left: 35%;
}
.bg{
  background-image: url("https://images4.alphacoders.com/280/280558.jpg");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  height: 100%;
  width: 100%;

}
